#top
.span-12.first#header
	= image_tag "harvest_header.png", id: "harvestheader"
.span-10.prepend-2.last
	= image_tag "http://placehold.it/300x150"
.span-24.forum_container
	- 10.times do |x|
		.forum_list
			%h2 I'm a Forum!
			%p forum description
		.forum_info
			%h2 latest post and such
	