#top
.span-24#dispatches_head
	#dispatch_logo
		=image_tag "dispatches_logo.png"
	#dispatch_title
		%h1 Dispatches from the Highlands
	#dispatch_desc
		%p Read articles from contributing authors and staff writers on what’s going on in the world of Cannabis
.span24#dispatches_subhead
	%p What in the world is happening to this page?
	