.span-2.first.prepend-3.first#companylogo
.span-10#companyname
.span-4.last.append2#viewpage
.span-4.first.append2#nav1
    %ul
        %li#businesshome
            %p hi
        %li#companyinfo
            %p hi
        %li#dailyspecials
            %p hi
        %li#shopmenu
            %p hi
        %li#photoalbum
            %p hi
        %li#managecomments
            %p hi
        %li#postthread
            %p hi
.span-4.first.append2#nav1
    %ul
        %li#createbanner
            %p hi
        %li#featuremylisting
            %p hi
        %li#cannasavercupon
            %p hi
        %li#cannavideo
            %p hi
        %li#vanity
            %p hi
.span-4-append-2#viewpage
.span-12.last#fieldguide
	%ul.fieldguidehome
		%li#Strain
			%p hi
		%li#Shop
			%p hi
		%li#Price
			%p hi
		%li#Lineage
			%p hi
		%li#Notes
			%p hi