= simple_form_for Search.new, html: {class: "search"}, action: articles_path do |f|
	= f.input :query, label: false, placeholder: "Article title, text, author etc", input_html: {class:"alttopsearch full"}
	= f.submit "", id: "altsearch_icon"
