= simple_form_for Search.new, html: {class: "search"}, url: critiques_search_path do |f|
	= f.input :query, label: false, placeholder: "Critique title, text, author etc", input_html: {class:"alttopsearch full"}
	= f.submit "", id: "altsearch_icon"
