= simple_form_for Search.new, html: {class: "search"}, url: strains_path do |f|
	= f.input :query, label: false, placeholder: "Strain name, genes, description etc", input_html: {class:"alttopsearch full"}
	= f.submit "", id: "altsearch_icon"
