#mainheader{
	background-image: url('/assets/hempheader.png');
	height:150px;
	background-position:center;
	position: relative;
}

#topblackbar{
	background:black;
	height:20px;
}

#searchbar{
	width:940px;
	margin:auto;
	position:relative;
}

#logotop{
	z-index:99;
	position:relative;
	left:-330px;
	top:-20px;
}

.mainsearchbtn{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width:80px;
	float:left;
	height:36px;
	margin-top:22px;
	margin-left:10px;
	background: #29abe2; /* Old browsers */
	background: -moz-linear-gradient(top,  #29abe2 1%, #b3b3b3 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#29abe2), color-stop(94%,#b3b3b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29abe2 1%,#b3b3b3 94%); /* IE10+ */
	background: linear-gradient(to bottom,  #29abe2 1%,#b3b3b3 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */
}

.mainsearchbtn:hover{
	background: #29abe2;
}

.topsearch{
	width: 200px;
	height: 30px;
	float: left;
	margin-left: 35px;
	margin-top: 22px;
}

#topsearchicon{
	margin-top:5px;
}

#near{
	margin-left: 20px;
	margin-top: 31px;
	float:left;
	color:white;
}

#mainsearchform{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	top:-145px;
	left: 180px;
	z-index:98;
	background: rgba(0,96,18,.8);
	width:650px;
	height:85px;
	position:relative;
}