$dark_green: #046414;

.clear-left{
	clear:left;
}

body {
	h1{
		font-family:'gothic821_cn_btregular';
		font-size: 55px;
		color: $dark_green;
	}
	h2{
		font-family:'gothic821_cn_btregular';
		color: $dark_green;
		line-height:1.2em;
	}
	h3{
		font-family:'gothic821_cn_btregular';
		color: $dark_green;
	}
}

@font-face {
    font-family: 'freehand575_btregular';
    src: url('/assets/freeh575-webfont.eot');
    src: url('/assets/freeh575-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/freeh575-webfont.woff') format('woff'),
         url('/assets/freeh575-webfont.ttf') format('truetype'),
         url('/assets/freeh575-webfont.svg#freehand575_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothic821_cn_btregular';
    src: url('goth821c-webfont.eot');
    src: url('goth821c-webfont.eot?#iefix') format('embedded-opentype'),
         url('goth821c-webfont.woff') format('woff'),
         url('goth821c-webfont.ttf') format('truetype'),
         url('goth821c-webfont.svg#gothic821_cn_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul{
	list-style: none;
}

li{
	list-style: none;
}

a{
	color:$dark_green;
}

p{
	margin: 0;
	padding: 0;
}            

h1{
	margin:0;
	padding:0;
	font-family: 'gothic821_cn_btregular';
}   
 
h2{
	margin:0;
	padding:0;
	font-family: 'gothic821_cn_btregular';
}

#black_bar{
	height:30px;
	background:black;
	width:100%;
}

#head_container{
	width:100%;
	height:275px;
	position:relative;
}

#inner_header{
	margin-top:-200px;
	height:195px;
}

#hempheader{
	width:100%;
	height:150px;
	min-width:950px;
	position:relative;
}

#logotop{
	position: relative;
	z-index:99;
}

#search_icon{
	position:absolute;
	left:540px;
	top:26px;
}

.topsearch{
	width: 200px;
	height: 30px;
	float: left;
}

#search_form2{
	position:absolute;
	top:15px;
	left:310px;
	width:600px;
	height:50px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	border-radius:10px;
	background-color: rgba(0,134,16,.8);
}

#navbar{
	position:absolute;
}

#navimage{
	width:100%;
	min-width:950px;
	height:100px;
}

#search_user_location{
	margin-left:15px;
}

#near{
	margin-left: 15px;
	margin-top: 15px;
	float:left;
	color:white;
}

#navlinks{
	position:relative;
	z-index:99;
	margin-top:-100px;
	
	img:hover{
		background: -moz-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%, rgba(246,255,163,0) 64%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(229,255,0,1)), color-stop(64%,rgba(246,255,163,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ff00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}

#head2_container{
	background-color:#008710;
	height:75px;
}

#altlogotop{
	margin-top:-10px;
}

#altsearchform{
	display: inline;
	position:relative;
	top:-55px;
	left:68px;
}

#altsearch_icon{
	position: relative;
	top:6px;
	left:20px;
}

.alttopsearch{
	width: 125px;
	height: 25px;
	float: left;
}

#altnavlinks{
	margin-top:10px;
	
	img:hover{
		background: -moz-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%, rgba(246,255,163,0) 64%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(229,255,0,1)), color-stop(64%,rgba(246,255,163,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(229,255,0,1) 0%,rgba(246,255,163,0) 64%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ff00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}

#grad_bar{
	background-image:url('gradbar.png');
	background-repeat: repeat-x;
	height:250px;
}

#top{
	margin-top:-250px;
}

#home_page_featured{
	float:right;
	margin-top:-70px;
}

#home_text{
	margin-top:-186px;
}

#homefeatured{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 10px;
	padding:20px;
}

#maptext{
	margin-top:-35px;
	margin-left:40px;
}

#location_change{
	font-family:'gothic821_cn_btregular';
	color: $dark_green;
	line-height:1.2em;
	font-size: 2em;
	float: right;
	margin-top:-28px;
}

.featured_listing{
	border-top:1px solid gray;
	padding-top:10px;
}

#home_slider{
	margin-top:20px;
}

.home_btns_bottom{
	float:left;
	margin-top:20px;
	
	img{
		position: relative;
		top: -95px;
		left: 10px;
	}
}

.bottom_text{
	position: relative;
	left: 135px;
	top: 25px;
}

.bottom_text_mid{
	position: relative;
	left: 170px;
	top: 25px;
}

#harvestheader{
	margin-top:-30px;
}

.forum_container{
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 10px;
	padding:20px;
}

.frow{
	height:60px;
	
	.col1{
		width:20px;
	}

	.col2{
		width:650px;
	}

	.col3{
		width:150px;
	}

	.col4{
		width:65px;
	}

	.col5{
		width:65px;
	}
}



#view_page{
	background-color:#2900F4;
	position:relative;
	top:10px;
	left:10px;
	width:120px;
	height:40px;
	border-radius:10px;
	
	p{
		color:white;
		font-size:20px;
		pading:10px;
	}
}

#back_nav{

	li{
		margin-top:5px;
	}
	
	p{
		display:inline;
	}

}

.back_nav_border{
	border-bottom: 2px solid black;
	width:100px;
	height:10px;
}

.back_top{
	padding-top:20px;
}

.back_content{
	background-color:#D7E5DB;
	position:relative;
	left:200px;
	bottom:355px;
}

#critiques_container{
	height:300px;
	border-radius:5px;
	background-color:whitesmoke;
	padding:10px;
}

.crit_results{
	width: 490px;
	height: 130px;
	float: left;
	border-radius: 5px;
	border-bottom: 1px solid;
	margin:5px;
	background-color:rgba(0,99,160,0.5);
}

.crit_graph{
	width: 200px;
	height: 130px;
	float: right;
	margin: 5px;
	border-radius: 5px;
}

.crit_pic{
	margin:5px;
}

.crit_info{
	position:relative;
	top:-125px;
	left:140px;
}

#crit_text{
	
	p{
		margin-bottom:10px;
	}
}

#crit_comments{
	
	#table_head{
		height:50px;
	}
	tr{
		height:150px;
	}
	.col1{
		width:150px;
	}
	.col2{
		
	}
}

#strain_image{
	width:310px;
	float:left;
	margin-right:10px;
}