$dark_green: #046414;
$light_green: #278808;
$dark_blue: #2020E0;
$light_blue: #B8D8B8;
$grey_blue: #EBF3EC;
$light_grey: #C8C8C8;
$bold_red: #E02020;
$transparrent_green: rgba(4,100,20,.5);

.hidden {
	display: none;
}

.bob {
	position: relative;
}

#main_home_heading {
	z-index: 99;
}

#home_page_featured {
	position: relative;
	left: 18px;
	img {
		z-index: 1;
	}
	#fieldguide {
		ul {
			position: absolute;
			top: 42px;
			left: 283px;
			width: 170px;
			z-index: -1;
			font-size: 10pt;
			.first {
				color: $dark_green;
			}
		}
	}
}

#home_text {
	padding-top: 47px;
}

#map {
	height: 290px;
	border: 1px solid black;
}
#map2 {
	height: 500px;
	display: none;
}

#homefeatured {
	background-image: url('/assets/cp-tiles.jpg');
	background-repeat: no-repeat;
	background-color: #F7F9F6;
	.header {
		position: relative;
		top: -10px;
	}
	.featured_listing {
		min-height: 65px;
		h4 {
			margin: 0px;
			font-size: 23px;
			font-weight: bold;
		}
		.icon_left {
			float: left;
			margin-right: 15px;
		}
		p.distance {
			font-size: 14px;
			margin-bottom: 14px;
			span {
				color: $dark_blue;
			}
		}
		p.special {
			font-size: 14px;
			margin-bottom: 14px;
			span {
				color: $bold_red;
			}
		}
	}
}

.crit_results {
	min-height: 205px;
	position: relative;
	&:hover {
		box-shadow: 7px 5px 7px #888;
	}
	.crit_pic {
		img {
			width: 120px;
		}
	}
	.crit_exerpt {
		display: block;
		position: absolute;
		top: 135px;
		left: 27px;
		width: 450px;
	}
}
.small_strain_test_chart {
	width: 205px;
}
#crit_strain_test {
	font-size: 16px;
	.chart {
		float: left;
		width: 342px;
		margin-right: 7px;
	}
	ul {
		float: left;
		position: relative;
		top: 90px;
		left: 60px;
		span {
			color: $dark-blue;
		}
	}
}

a {
	color: black;
	&:hover {
		color: black;
	}
}

#critique_container {
	background-color: rgba(255,255,255,.7);
	h2 {
		span {
			color: $dark_blue;
		}
	}
}

#back_nav {
	width: 200px;
	padding-top: 124px;
	a {
		text-decoration: none;
	}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		position: relative;
		top: -8px;
		li {
			height: 25px;
			&:hover {
				background-color: rgba(4,100,2,.5);
			}
			&.bottom_of_section {
				border-bottom: 3px solid black;
			}
			p {
				position: relative;
				top: -2px;
				left: 3px;
			}
			img {
				position: relative;
				top: 3px;
				left: 3px;
			}
		}
	}
}

.back_content {
	padding: 10px;
	width: 730px;
	top: -456px;
	background: -moz-linear-gradient(top,  rgba(215,229,219,1) 0%, rgba(215,229,219,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,229,219,1)), color-stop(100%,rgba(215,229,219,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e5db', endColorstr='#1ad7e5db',GradientType=0 ); /* IE6-9 */
}

.admin_back_content {
	tr {
		img {
			width: 50px;
		}
	}
	background-color:#D7E5DB;
	position:relative;
	left:200px;
	bottom:355px;
	padding: 10px;
	width: 730px;
	top: -486px;
	background: -moz-linear-gradient(top,  rgba(215,229,219,1) 0%, rgba(215,229,219,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,229,219,1)), color-stop(100%,rgba(215,229,219,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(215,229,219,1) 0%,rgba(215,229,219,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e5db', endColorstr='#1ad7e5db',GradientType=0 ); /* IE6-9 */
}

form {
	label {
		display: block;
	}
}

.back_top {
	background: white;
	border: 1px solid black;
	margin-bottom: 8px;
	height: 110px;
	padding: 9px 39px 0px 37px;
	width: 672px;
	float: right;
	h2 {
		position: relative;
		top: 35px;
		color: black;
	}
	img {
		float: left;
		margin-right: 17px;
		position: relative;
		top: 10px;
	}
	a {
		float: right;
		position: relative;
		top: -40px;
		text-decoration: none;
		#view_page {
			background-color: #2900F4;
			position: relative;
			top: 35px;
			left: 10px;
			width: 120px;
			height: 40px;
			border-radius: 10px;
			color: white;
			font-size: 22px;
			vertical-align: middle;
			padding: 8px;
			span {
				position: relative;
				top: 2px;
				left: 6px;
			}
		}
	}
}

.strain_show_left {
	#image_widget {
		float: left;
		position: relative;
		width: 400px;
		height: 350px;
		margin-bottom: 50px;
		img.fieldguide-logo {
			position: absolute;
			top: -32px;
			left: 0px;
		}
		.large_holder {
			position: absolute;
			top: 14px;
			left: 25px;
			border: 5px solid $dark_green;
			width: 320px;
			height: 320px;
			background-color: white;
		}
		.small_holder_contianer {
			position: absolute;
			top: 305px;
			left: 42px;
			.small_holder {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				height: 70px;
				width:70px;
				border: 3px solid $dark_green;
				background: white;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}
	}
	#strain_main_info {
		float: left;
		width: 230px;
		h3 {
			font-size: 17px;
			color: black;
		}
		p {
			span {
				font-weight: bold;
			}
		}
	}
	#strain_critiques_index {
		clear: both;
		.critique {
			border: 1px solid $light_blue;
			padding: 10px;
			&.light_blue {
				background: $light_blue;
			}
			img {
				float: left;
				position: relative;
				left: -7px;
				top: -7px;
			}
			p.title {
				font-weight: bold;
			}
			p.read_more {
				a {
					font-weight: bold;
					position: relative;
					left: 434px;
				}
			}
		}
	}
}

.listing_show_container {
	position: relative;
	top: -242px;
	#social {
		position: absolute;
		top: 5px;
		left: 790px;
		z-index: 99;
		a {
			text-decoration: none;
		}
		img {
			width: 40px;
		}
	}
	#listing_show_map {
		height: 300px;
		width: 950px;
	}
	#logo {
		position: absolute;
		top: 27px;
		left: 42px;
		border: 1px solid $dark_green;
		z-index: 1;
		height: 250px;
	}
	#creamocrop {
		position: absolute;
		top: 214px;
		left: -17px;
		width: 142px;
		z-index: 1;
	}
	.listing_info {
		width: 235px;
		height: 230px;
		position: absolute;
		top: 37px;
		left: 333px;
		.name {
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 5px;
		}
		.rating_container {
			position: relative;
			top: 10px;
			.rating_star {
				float: left;
			}
		}
		.extra_links {
			display: block;
			width: 300px;
			clear: both;
			margin-top: 42px;
			a {
				float: left;
				margin-right: 15px;
			}
		}
	}
	.listing_icons {
		clear: both;
		position: relative;
		top: 33px;
		left: -10px;
		a {
			float: left;
			text-decoration: none;
		}
	}
	.info_background {
		position: absolute;
		top: 27px;
		left: 42px;
		background: rgba(255,255,255,.9);
		border: 1px solid black;
		width: 530px;
		height: 250px;
	}
}

.listing_show_content {
	margin-top: 10px;
	border-top: 1px solid $dark_green;
	border-left: 1px solid $dark_green;
	padding: 20px;
	width: 924px;
	.show_nav {
		width: 170px;
		float: left;
		a {
			color: $dark_green;
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			padding: 1px;
			display: block;
			width: 90%;
			&:hover {
				background-color: $transparrent_green;
			}
			&.cannasaver {
				color: $bold_red;
			}
			&.active {
				background-color: $dark_green;
				color: white;
				&:hover {
					background-color: $dark_green;
				}
			}
		}

		.business_hours {
			h3 {
				color: black;
				font-size: 27px;
				margin-top: 25px;
				margin-bottom: 5px;
			}
			ul {
				padding: 0;
				li.lb {
					background-color: $grey_blue;
				}
			}
		}
	}
	.show_content {
		width: 750px;
		float: left;
		.half-box {
			margin-right: 10px;
			margin-bottom: 10px;
			width: 350px;
			float: left;
			padding: 5px;
			background-color: $grey_blue;
			min-height: 100px;
			p {
				font-size: 14px;
				width: 320px;
			}
			&.green {
				h2 {
					color: $dark_green;
				}
			}
			&.red {
				h2 {
					color: $bold_red;
				}
			}
		}
		.full-box {
			width: 730px;
			float: left;
			background-color: $grey_blue;
			clear: both;
			margin-bottom: 10px;
		}
	}
}

.login_info {
	z-index: 99;
	color: white;
	float: right;
	margin-right: 25px;
	position: absolute;
	right: 4px;
	top: 5px;
	font-size: 14px;
	a {
		color: white;
	}
}

#roachy-container {
	position: relative;
	#roachy {
		position: relative;
		background-color: white;
		border: 1px solid $dark_green;
		width: 730px;
		height: 200px;
		overflow-y: auto;
		img {
			float: left;
		}
		ul {
			&.roachy-active {
				display: block;
			}
			&.roachy-inactive {
				display: none;
			}
		}
		h3 {
			color: black;
			font-size: 42px;
			margin-bottom: 10px;
		}
	}
	#roachy-links {
		position: absolute;
		top: 180px;
		left: 485px;
		li {
			float: left;
			background-color: $dark_green;
			color: white;
			padding: 10px;
			&:hover {
				background-color: $light_green;
				cursor: hand;
				cursor: pointer;
			}
		}
	}
	#roachy-index {
		li {
			&:hover {
				cursor: hand;
				cursor: pointer;
			}
		}
	}
}

#btob_add {
	margin-top: 40px;
}

.bold {
	font-weight: bold;
}

.product_image {
	width: 150px;
}

form#new_product {
	display: none;
}

#show_product_form {
	&:hover {
		cursor: hand;
		cursor: pointer;
	}

}

#dispatches_articles {
	img {
		float: left;
		clear: both;
		padding: 12px;
		max-width: 142px;
		height: auto;
	}
	#featured_article {
		img.featured {
			display: block;
			margin: auto;
			float: none;
			max-width: 350px;
		}
	}
}

#altsearch_icon {
	background-image: url('/assets/search_icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 85px;
	height: 32px;
	border: none;
	&:hover {
		cursor: hand;
		cursor: pointer;
	}
}


ul.front_end_nav {
	position: relative;
	left: 50px;
}

ul.alt_front_end_nav {
	position: relative;
	left: 72px;
	a {
		text-decoration: none;
	}
}

#altnavlinks {
	height: 65px;
}

.alt_search_container {
	height: 52px;
	position: relative;
	top: 17px;
}

#altsearchform {
	form.search {
		.full {
			width: 370px;
		}
		.half {
			width: 152px;
		}
	}
}

#search_form2 {
	width: 690px;
	form.search {
		.half {
			width: 242px;
		}
	}
	#near {
		font-weight: bold;
		font-size: 15px;
		margin-top: 10px;
	}
}

#dispatches_articles {
	background-color: whitesmoke;
}

.listing-index {
	min-height: 170px;
	border: 1px solid #F0F0F0;
	padding-top: 18px;
	padding-left: 12px;
	position: relative;
	background-color: white;
	&.featured {
		background-color: #F0E0E1;
		min-height: 280px;
		.listing_info_left {
			width: 410px;
			font-size: 14px;
			.left {
				width: 380px;
			}
			.bug {
				position: relative;
				top: 7px;
			}
			h5 {
				font-size: 25px;
			}
		}
	}
	&.light_blue {
		background-color: #EFF2F7;
	}
	.logo {
		float: left;
		margin-right: 10px;
		border: 2px solid black;
		padding: 2px;
	}
	.listing_info_left {
		float: left;
		width: 282px;
		margin-right: 10px;
		.bug {
			float: left;
			margin-right: 7px;
		}
		.left {
			width: 252px;
			float: left;
		}
		h5 {
			font-size: 15px;
			margin: 0;
		}
	}
	.listing_info_right {
		float: left;
		width: 225px;
	}
	.daily {
		position: relative;
		top: 20px;
		left: 1px;
		-moz-transform: rotate(2deg);
		-webkit-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		width: 232px;
		height: 91px;
		background-color: #FA4A4A;
		margin-bottom: 42px;
		img {
			position: absolute;
			top: -14px;
			left: 0px;
		}
		h4 {
			font-size: 14pt;
			font-weight: bolder;
			position: absolute;
			top: 2px;
			left: 36px;
		}
		p {
			position: absolute;
			top: 27px;
			left: 5px;
			color: white;
		}
	}
}

.mapit {
	border: 1px solid #F0F0F0;
	background-color: #EFF2F7;
	text-align: center;
	font-size: 42px;
	text-decoration: underline;
	&:hover {
		cursor: hand;
		cursor: pointer;
	}
}

.result {
	position: relative;
	&:hover {
		box-shadow: 7px 5px 7px #888;
	}
	a {
		text-decoration: none;
	}
	.strain_index_rating {
		position: absolute;
		top: 12px;
		left: 360px;
	}
	h2 {
		width: 342px;
	}
}

.adds {
	.add {
		float: right;
	}
}

.pagination {
	text-align: center;
	font-size: 17px;
	margin-bottom: 7px;
	margin-top: 7px;
}

p.banner {
	color: white;
	font-size: 17px;
	position: absolute;
	left: 7px;
	top: 3px;
}

.listing_icons {
	position: relative;
	top: 42px;
}

.special_slider {
	height: 120px;
	width: 100%;
	.special_slider_left {
		.arrow_left {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent; 
			border-right: 30px solid $dark_green;
			&:hover {
				border-right: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: relative;
			left: 7px;
			top: 27px;
		}
		float: left;
		width: 50px;
		background-color: $light_blue;
		height: 120px;
		margin-right: 10px;
		position: relative;
	}
	.special_slider_entry {
		position: relative;
		float: left;
		width: 276px;
		background-color: $light_blue;
		height: 120px;
		img {
			width: 100px;
			float: left;
			position: relative;
			top: 10px;
			left: 10px;
		}
		p {
			position: absolute;
			top: 40px;
			left: 120px;
			width: 148px;
			font-weight: bold;
			&.red {
				color: $bold_red;
				top: 10px;
				left: 120px;
			}
		}
		&.middle {
			background-color: white;
		}
	}
	.special_slider_right {
		.arrow_right {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid $dark_green;
			&:hover {
				border-left: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: relative;
			left: 12px;
			top: 30px;
		}
		float: left;
		width: 50px;
		background-color: $light_blue;
		height: 120px;
		margin-left: 10px;
		position: relative;
	}
}

.comment {
	position: relative;
	display: block;
	padding-bottom: 83px;
	img.avatar {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.rating_container {
		position: absolute;
		top: 10px;
		left: 614px;
	}
	p {
		position: relative;
		width: 540px;
		left: 100px;
		top: 40px;
	}
	.user {
		position: absolute;
		top: 8px;
		left: 100px;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
	}
	.edit {
		position: absolute;
		top: 77px;
		left: 700px;
		font-size: 12px;
	}
	.remove {
		position: absolute;
		top: 76px;
		left: 650px;
	}
}

.home_btns_bottom {
	height: 150px;
}

.critiques_slider_top {
	float: left;
	position: relative;
	left: 213px;
	top: 68px;
	.slide {
		position: relative;
		&.hidden {
			display: none;
		}
		img {
			position: absolute;
			top: 0px;
			left: 0px;
		}
		p {
			position: absolute;
			top: 300px;
			left: 0px;
			font-size: 14px;
			font-weight: bold;
			width: 294px;
			z-index: 1;
			text-align: center;
			background-color: rgba(0,0,0,.3);
			color: white;
			padding: 3px;
		}
	}
	.arrow_left {
		width: 0; 
		height: 0; 
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent; 
		border-right: 30px solid $dark_green;
		&:hover {
			border-right: 30px solid $light_green;
			cursor: hand;
			cursor: pointer;
		}
		position: absolute;
		left: -42px;
		top: 140px;
	}
	.arrow_right {
		width: 0; 
		height: 0; 
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 30px solid $dark_green;
		&:hover {
			border-left: 30px solid $light_green;
			cursor: hand;
			cursor: pointer;
		}
		position: absolute;
		top: 140px;
		left: 310px;
	}
}

img.critique-home {
	float: left;
	position: relative;
	top: 27px;
	left: 33px;
}

.span-24.push_down {
	margin-bottom: 50px;
}

.latest_critique {
	border-top: 20px solid $dark_green;
	border-bottom: 10px solid $dark_green;
	position: relative;
	width: 400px;
	padding-bottom: 25px;
	float: left;
	// margin-right: 140px;
	p.header {
		font-family: 'freehand575_btregular';
		position: absolute;
		top: -27px;
		left: 300px;
		color: white;
		font-size: 25px;
	}
	img {
		float: left;
		margin: 3px;
	}
	.continue {
		float: right;
		color: $dark_blue;
		font-size: 14px;
		font-weight: bold;
	}
}

.slider_right_container {
	display: inline;
	float: right;
	width: 40%;
	position: relative;
	left: -27px;
	min-height: 365px;
	.green_thingy {
		float: left;
		background-color: $dark_green;
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		padding: 15px;
		width: 300px;
		margin-bottom: 20px;
		min-height: 70px;
		img {
			float: left;
			margin-right: 10px;
			max-height: 80px;
			max-width: 80px;
		}
		p {
			float: right;
			color: white;
			width: 210px;
		}
		h3 {
			float: right;
			color: white;
			width: 210px;
			position: relative;
			top: 22px;
		}
		&.hidden {
			display: none;
		}
	}
}

h3.cr_home {
	font-size: 17px;
	font-family: 'freehand575_btregular';
	clear: both;
	width: 330px;
	text-align: right;
	font-size: 30px;
}

#footer {
	position: relative;
	background-color: $light_green;
	margin-top: 30px;
	padding-top: 30px;
	z-index: 0;
	#social {
		position: absolute;
		top: 60px;
		left: 70.65%;
	}
	table {
		width: 800px;
		margin: auto;
		color: white;
		font-size: 12px;
		margin-bottom: 15px;
		tr.header {
			font-size: 14px;
			font-weight: bold;
		}
		tr:nth-child(even) td, tbody tr.even td {
			background-color: $light_green;
		}
		a {
			color: white;
		}
	}
	#header_bar {
		width: 100%;
		height: 20px;
		position: absolute;
		top: 30px;
		background-color: $dark_green;
		border-top: 2px solid #143913;
		border-bottom: 2px solid #143913;
		z-index: -1;
	}
	#coppyright {
		color: white;
	}
}

.slider_right_container {
	.slider1 {
		position: absolute;
		top: 0px;
		left: 0px;
		.arrow_left {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent; 
			border-right: 30px solid $dark_green;
			&:hover {
				border-right: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			left: -42px;
			top: 83px;
		}
		.arrow_right {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid $dark_green;
			&:hover {
				border-left: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			top: 83px;
			left: 340px;
			z-index: 1;
		}
	}
	.slider2 {
		position: absolute;
		left: 0px;
		top: 200px;
		.arrow_left {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent; 
			border-right: 30px solid $dark_green;
			&:hover {
				border-right: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			left: -42px;
			top: 80px;
		}
		.arrow_right {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid $dark_green;
			&:hover {
				border-left: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			top: 80px;
			left: 340px;
			z-index: 1;
		}
	}
}

.forum_container {
	h2 {
		float: left;
		a {
			color: $dark_green;
		}
		&.new_thread {
			float: right;
			&:hover {
				cursor: hand;
				cursor: pointer;
			}
		}
	}
	.post {
		padding: 5px;
		min-height: 80px;
		border: 1px solid black;
		clear: both;
		position: relative;
		img.avatar {
			float: left;
			background-color: white;
			margin-right: 5px;
		}
		&.light-blue {
			background-color: $grey_blue;
		}
		p.user {
			font-size: 14px;
			font-weight: bold;
		}
		p.edit {
			position: absolute;
			top: 5px;
			left: 810px;
		}
		p.remove {
			position: absolute;
			top: 5px;
			left: 850px;
		}
		.inner_container {
			width: 650px;
		}
	}
}

.article_show {
	img {
		max-width: none;
	}
}

.article_index_entry {
	padding: 23px 0px 65px 0px;
	border-bottom: 1px solid black;
}

#cadets_home {

	padding-top: 20px;
	min-height: 700px;

	.cadets_sign_up {
		float: left;
	}

	.cadets_grave {
		position: relative;
		float: left;
		left: 110px;
		.arrow_left {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent; 
			border-right: 30px solid $dark_green;
			&:hover {
				border-right: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			left: -45px;
			top: 165px;
		}	
		.arrow_right {
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid $dark_green;
			&:hover {
				border-left: 30px solid $light_green;
				cursor: hand;
				cursor: pointer;
			}
			position: absolute;
			left: 415px;
			top: 165px;
			z-index: 1;
		}
		.grave_stone {
			position: absolute;
			top: 280px;
			left: -120px;
		}
		.non-active {
			display: none;
		}
		.pipe_info {
			position: absolute;
			top: 0px;
			letter-spacing: 0px;
			background-color: rgba(0,0,0,.7);
			width: 100%;
			color: white;
			font-size: 14px;
			p.header {
				font-weight: bold;
				font-size: 18px;
			}
		}
	}

}

.menu-section {
	.menu-item {
		position: relative;
		width: 97%;
		height: 175px;
		border-bottom: 1px solid grey;
		margin-bottom: 12px;
		margin-top: 12px;
		img.product_image {
			position: absolute;
			top: 0px;
			left: 0px;
		}
		p.name {
			position: absolute;
			font-size: 27px;
			left: 170px;
		}
		img.product_image {
			position: absolute;
		}
		.price_chart {
			position: absolute;
			left: 410px;
			width: 320px;
			height: 42px;
			background-color: $light_blue;
			padding-top: 1px;
			padding-left: 1px;
			.price {
				float: left;
				position: absolute;
				top: 10px;
				font-size: 14px;
				&.ounce {
					left: 264px;
				}
				&.half {
					left: 192px;
				}
				&.quarter {
					left: 128px;
				}
				&.eight {
					left: 65px;
				}
				&.qram {
					left: 65px;
				}
			}
		}
		.dollar {
			position: absolute;
			left: -20px;
			top: 1px;
			font-size: 25px;
		}
		.test_results {
			position: absolute;
			p {
				font-size: 14px;
				position: absolute;
				&.thc_head {
					top: 80px;
					left: 170px;
				}
				&.thc_value {
					top: 108px;
					left: 170px;
				}
				&.cbd_head {
					top: 80px;
					left: 230px;
				}
				&.cbd_value {
					top: 108px;
					left: 230px;
				}
				&.cbn_head {
					top: 80px;
					left: 300px;
				}
				&.cbn_value {
					top: 108px;
					left: 300px;
				}
			}
		}
		.meter {
			width: 200px;
			height: 20px;
			border: 1px solid black;
			.inner {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				background-color: $dark_blue;
			}
			p.label {
				font-size: 14px;
				position: absolute;
				left: -70px;
			}
		}
		.potency {
			position: absolute;
			top: 75px;
			left: 528px;
		}
	}
}

.featured_listing_icons {
	a {
		float: left;
		text-decoration: none;
	}
}

.back_content.cadets {
	top: -63px;
}

#pages {
	min-height: 330px;
	padding-top: 10px;
	background-color: rgba(255,255,255,0.7);
}

.input.boolean.optional input {
	float: left;
}
