#top
	.span-16.strain_show_left.first
		#image_widget
			.large_holder
			= image_tag "/assets/fieldguide-logo.png", class: "fieldguide-logo"
			.small_holder_contianer
				- 2.times do
					.small_holger
	.span-8.last
		%p= @strain.name
